<%= form_for(@home_content) do |f| %>
  <% if @home_content.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@home_content.errors.count, "error") %> prohibited this home_content from being saved:</h2>

      <ul>
      <% @home_content.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
