<div id="hero-image">
  <div class="container-fluid">
    <div id="hero-background">
      <h1 id="home-title">Cool Beans</h1>
      <h2 id="home-subtitle">Denton's Finest</br>Dive Bar</h2>
      <div id="food-menu-button"><%= link_to "Our Menu", menu_path, class: "btn btn-primary btn-lg" %></div><br />
      <div id="specials-button"><%= link_to "The Specials", specials_path, class: "btn btn-default btn-lg" %></div>
    </div>
  </div>
</div>

<div id="hours-container">
  <div class="continer-fluid"></div>
</div>

<div class="container-fluid">
  <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div id="all-ages">
          <p id="ages-text">All Ages</p>
          <p>Cool Beans is for ALL AGES everyday from 11am to 9pm. Come enjoy the best food and fun on Fry.</p>
      </div>
    </div>
  <% @hours.each do |hour| %>
    <% if hour.name == 'Regular Hours' %>
        <div class="col-xs-12 col-sm-6">
          <div id="hours-style">
            <p id="hours-text">Our Hours</p>
            <p><%= hour.note %></p>
            <% if user_signed_in? %>
              <div class="well">      
                <div class="actions">
                  <%= link_to edit_hour_path(hour) do %>
                    <span class="glyphicon glyphicon-edit"></span>
                    Edit
                  <% end %>
                  <%= link_to hour, method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <span class="glyphicon glyphicon-trash"></span>
                    Delete
                  <% end %>
                </div>
              </div>
            <% end %>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>

<div id="classics-container">
  <div class="continer-fluid"></div>
</div>


  <% @classics.each do |classic| %>
    <% if classic.title == 'The Classics' %>
    <div class="container-fluid">
      <div id="classics-styles">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
            <h1><%= classic.title %></h1>
            <p><%= classic.description %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="thumbnail">
               <%= image_tag(classic.image_one.url, :class=>'classic-photo', :alt=>'classic') %>
              <div class="caption">
                <h2><%= classic.first_classic %></h2>
                <p><%= classic.first_classic_description %></p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="thumbnail">
               <%= image_tag(classic.image_two.url, :class=>'classic-photo', :alt=>'classic') %>
              <div class="caption">
                <h2><%= classic.second_classic %></h2>
                <p><%= classic.second_classic_description %></p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="thumbnail">
               <%= image_tag(classic.image_three.url, :class=>'classic-photo', :alt=>'classic') %>
              <div class="caption">
                <h2><%= classic.third_classic %></h2>
                <p><%= classic.third_classic_description %></p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <% if user_signed_in? %>
              <div class="well">      
                <div class="actions">
                  <%= link_to edit_classic_path(classic) do %>
                    <span class="glyphicon glyphicon-edit"></span>
                    Edit
                  <% end %>
                  <%= link_to classic, method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <span class="glyphicon glyphicon-trash"></span>
                    Delete
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>