<div id="gallery-header-image">
  <div class="container-fluid">
    <h1><small>The Dive Bar</small><br/>Gallery</h1>
  </div>
</div>

<div id="gallery-container">
<div class="container-fluid">
  <div id="gallery_photos" class="transitions-enabled">
  <% @gallery_photos.each do |gallery_photo| %>
  <div class="gallery-hover-effect">
    <div class="box panel panel-primary">
      <%= image_tag(gallery_photo.image.url(:medium), :class=>'photo-image') %>
      <div class="panel-body">
        <p><%= gallery_photo.name %></p>
        <p class="photo-description"><%= gallery_photo.description %></p>
        <% photo_id = gallery_photo.id %>
      </div>
      
      <% if user_signed_in? %>
      <div class="panel-footer">
        <div class="button">
          <%= link_to 'Edit Photo', edit_gallery_photo_path(gallery_photo), class: "btn btn-primary" %>
          <%= link_to 'Delete', gallery_photo, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-default" %>
        </div>
      </div>
        <% end %>
     </div>
   </div>
  <% end %>
  </div>
</div>
</div>

<div class="container-fluid">
  <% if user_signed_in? %>
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8">
        <br>
        <%= link_to 'New Gallery photo', new_gallery_photo_path, class: "btn btn-default btn-lg btn-block" %>
        <br>
      </div>
    </div>
  <% end %>
</div>
