<h1>Denton's Finest Dive Bar, a place for everyone</h1>

<div id="gallery_photos" class="transitions-enabled">
  <% @gallery_photos.each do |gallery_photo| %>
    <div class="box panel panel-default">
      <%= link_to image_tag(gallery_photo.image.url(:medium)), gallery_photo %>
      <div class="panel-body">
        <%= gallery_photo.name %><br/>
        <strong><%= gallery_photo.description %></strong>
        
          <div class="actions">
            <%= link_to edit_gallery_photo_path(gallery_photo) do %>
              <span class="glyphicon glyphicon-edit"></span>
              Edit
            <% end %>
            <%= link_to gallery_photo, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash"></span>
              Delete
            <% end %>
        </div>
        
     </div>
   </div>
  <% end %>
</div>

<br>

<%= link_to 'New Gallery photo', new_gallery_photo_path %>
