<h1>Denton's Finest Dive Bar, a place for everyone</h1>

<div id="gallery_photos" class="transitions-enabled">
  <% @gallery_photos.each do |gallery_photo| %>
    <div class="box panel panel-primary">
      <%= link_to image_tag(gallery_photo.image.url(:medium), :class=>'photo-image'), gallery_photo %>
      <div class="panel-body">
        <p><%= gallery_photo.name %></p>
        <p class="photo-description"><%= gallery_photo.description %></p>
        
        <% if user_signed_in? %>
          <div class="actions">
            <%= link_to edit_gallery_photo_path(gallery_photo) do %>
              <span class="glyphicon glyphicon-edit"></span>
              Edit
            <% end %>
            <%= link_to gallery_photo, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash"></span>
              Delete
            <% end %>
          </div>
        <% end %>
     </div>
   </div>
  <% end %>
</div>

<br>

<%= link_to 'New Gallery photo', new_gallery_photo_path %>
