<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @gallery_photo.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @gallery_photo.description %>
</p>

<%= link_to 'Edit', edit_gallery_photo_path(@gallery_photo) %> |
<%= link_to 'Back', gallery_photos_path %>
