<div class="container-fluid">
  <div id="classics-form">
  <%= form_for(@classic) do |f| %>
    <% if @classic.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@classic.errors.count, "error") %> prohibited this classic from being saved:</h2>

        <ul>
        <% @classic.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

<div class="panel panel-default">
  <div class="panel-heading">
      <h2>Classics Form</h2>
    </div>
  <div class="panel-body">
    <div class="form-group">
      <p><%= f.label :title, 'Title' %></p>
      <p><%= f.text_field :title, class: "input-lg" %></p>
    </div>
    <div class="form-group">
      <p><%= f.label :description %></p>
      <p><%= f.text_area :description, class: "input-lg" %></p>
    </div>
    <h4>Classic One</h4>
    <div class="form-group">
      <p><%= f.label :first_classic %></p>
      <p><%= f.text_field :first_classic, class: "input-lg" %></p>
    </div>
    <div class="form-group">
      <p><%= f.label :first_classic_description %></p>
      <p><%= f.text_area :first_classic_description, class: "input-lg" %></p>
    </div>
    <div class="form-group">
      <p><%= f.label :image_one %></p>
      <%= f.file_field :image_one, class: "btn btn-default btn-lg btn-block" %>
    </div>
    <h4>Classic Two</h4>
    <div class="form-group">
      <p><%= f.label :second_classic %></p>
      <p><%= f.text_field :second_classic, class: "input-lg" %></p>
    </div>
    <div class="form-group">
      <p><%= f.label :second_classic_description %></p>
      <p><%= f.text_area :second_classic_description, class: "input-lg" %></p>
    </div>
    <div class="form-group">
      <p><%= f.label :image_two %></p>
      <%= f.file_field :image_two, class: "btn btn-default btn-lg btn-block" %>
    </div>
    <h4>Classic Three</h4>
    <div class="form-group">
      <p><%= f.label :third_classic %></p>
      <p><%= f.text_field :third_classic, class: "input-lg" %></p>
    </div>
    <div class="form-group">
      <p><%= f.label :third_classic_description %></p>
      <p><%= f.text_area :third_classic_description, class: "input-lg" %></p>
    </div>
    <div class="form-group">
      <p><%= f.label :image_three %></p>
      <%= f.file_field :image_three, class: "btn btn-default btn-lg btn-block" %>
    </div>
     <div class="form-group">
        <%= f.submit "Save", class: "btn btn-primary btn-lg btn-block" %>
    </div>
    </div>
    <div class="panel-footer">
      <h5><%= link_to 'New Classic', new_classic_path %></h5>
    </div>

    <% end %>
  </div>
</div>
</div>