<div class="container-fluid">
  <div id="menu-form">
  <%= form_for(@menu_item) do |f| %>
    <% if @menu_item.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@menu_item.errors.count, "error") %> prohibited this menu_item from being saved:</h2>

        <ul>
        <% @menu_item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
<div class="row">
  <div class="xs-12 col-md-6 col-md-offset-3">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2>Menu Item Form</h2>
    </div>
  <div class="panel-body">
    <div class="form-group">
      <p><%= f.label :menu_section %></p>
      <p><%= f.select(:menu_section, [['Our Burgers', 'Burgers'], ['Burger Note', 'Burger-Note'], ['Our Chicken Sandwiches', 'Chicken Sandwiches'], ['Chicken Note', 'Chicken-Note'], ['Our Baskets and More', 'Baskets and More'], ['Baskets Note', 'Basket-Note'], ['For the Vegetarian', 'Vegetarian'], ['Vegetarian Note', 'Vegetarian-Note'], ['The Munchies', 'Munchies'], ['Munchies Note', 'Munchies-Note'], ['Weekly Food Specials', 'Food Specials'], ['Food Specials Note', 'Food-Specials-Note'], ['Happy Hour Food', 'Happy Hour Food'], ['Happy Hour Food Note', 'Happy-Hour-Food-Note'], ['Weekly Drink Specials', 'Weekly Drink Specials'], ['Weekly Drink Specials Note', 'Weekly-Drink-Specials-Note'], ['Pitcher Specials', 'Pitcher Specials'], ['Pitcher Specials Note', 'Pitcher-Specials-Note'], ['Happy Hour Drinks', 'Happy Hour Drinks'], ['Happy Hour Drinks Note', 'Happy-Drinks-Note'], ['7 to 11pm Drinks', '7 to 11 Drinks'], ['7 to 11 Note', 'Seven-Eleven-Note'], ['9 to 11pm Drinks', '9 to 11 Drinks'], ['9 to 11 Drinks Note', 'Nine-Eleven-Note'], ['Dive Brunch', 'Sunday Brunch'], ['Brunch Note', 'Brunch-Note'], ['Dive Brunch Cocktails', 'Brunch Cocktails'], ['Brunch Cocktails Note', 'Brunch-Cocktails-Note']], {prompt: "Please Select"}, {class: "input-lg"}) %></p>
    </div>
    <div class="form-group">
      <p><%= f.label :item_rank, "Order of Item" %></p>
      <p><%= f.text_field :item_rank, class: "input-lg" %></p>
    </div>
    <div class="form-group">
      <p><%= f.label :name %></p>
      <p><%= f.text_field :name, class: "input-lg" %></p>
    </div>
    <div class="form-group">
      <p><%= f.label :description %></p>
      <p><%= f.text_area :description, class: "input-lg" %></p>
    </div>
    <div class="form-group">
      <p><%= f.label :price %></p>
      <p><%= f.text_field :price, class: "input-lg" %></p>
    </div>
    <div class="form-group">
      <p><%= f.label :extra_one, "Add On" %></p>
      <p><%= f.text_field :extra_one, class: "input-lg" %></p>
    </div>
    <div class="form-group">
      <p><%= f.label :extra_one_price, "Add On Price" %></p>
      <p><%= f.text_field :extra_one_price, class: "input-lg" %></p>
    </div>
    <div class="form-group">
      <p><%= f.label :extra_two, "Add On (2)" %></p>
      <p><%= f.text_field :extra_two, class: "input-lg" %></p>
    </div>
    <div class="form-group">
      <p><%= f.label :extra_two_price, "Add On Price (2)" %></p>
      <p><%= f.text_field :extra_two_price, class: "input-lg" %></p>
    </div>
    <div class="form-group">
      <p><%= f.label :extra_three, "Add On (3)" %></p>
      <p><%= f.text_field :extra_three, class: "input-lg" %></p>
    </div>
    <div class="form-group">
      <p><%= f.label :extra_three_price, "Add On Price (3)" %></p>
      <p><%= f.text_field :extra_three_price, class: "input-lg" %></p>
    </div>
     <div class="form-group">
        <%= f.submit "Save", class: "btn btn-primary btn-lg btn-block" %>
    </div>
    </div>
    <div class="panel-footer">
      <%= link_to 'Go to Dashboard', dashboard_path, class: "btn btn-default" %>
    </div>

  <% end %>
  </div>
  </div>
  </div>
  </div>
</div>