<div id="menu-style">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-9 col-lg-9">
      <h1>Our Burgers</h1>
      <% @menu_photos.each do |menu_photo| %>
        <% if menu_photo.name == 'Burger-One' %>
        <div class="panel panel-default">
        <%= link_to image_tag(menu_photo.photo.url, :class=>'food-photo', :alt=>'Burger'), menu_photo %>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>

      <% @menu_items.each do |menu_item| %>
      <div class="row">
        <div class="col-sm-12 col-md-9 col-lg-9">
        <% if menu_item.menu_section == 'Burgers' %>
          <div class="panel">
            <h3><%= menu_item.name %></h3>
            <p><%= menu_item.description %></p>
            <h5 class="menu-price"><%= menu_item.price %></h5>
            <p><%= menu_item.extra_one %></p>
            <p><%= menu_item.extra_one_price %></p>
            <p><%= menu_item.extra_two %></p>
            <p><%= menu_item.extra_two_price %></p>
            <p><%= menu_item.extra_three %></p>
            <p><%= menu_item.extra_three_price %></p>
          </div>
            <% if user_signed_in? %>
              <p><%= link_to 'Show', menu_item %></p>
            <% end %>
            <% if user_signed_in? %>
              <p><%= link_to 'Edit', edit_menu_item_path(menu_item) %></p>
            <% end %>
            <% if user_signed_in? %>
              <p><%= link_to 'Destroy', menu_item, method: :delete, data: { confirm: 'Are you sure?' } %></p>
          <% end %>
        <% end %>
        </div>
      </div>
      <% end %>

  <%= link_to 'New Menu item', new_menu_item_path %>
</div>