<div class="container-fluid">
<div id="notes-style">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-lg-8">
      <h1>Saved Email</h1>
      <p>Press <b>Review and Send</b> to look over the email one last time and finally send it to the Dive VIPs.</p>
      <p>To create an email, press the <b>New Email Button</b>.</p>
    </div> 
  </div>

<div class="row">
    <% @manager_notes.find(1) do |manager_note| %>
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><%= manager_note.subject %></h3>
            </div>
            <div class="panel-body">
              <div class="email-body">
                <p><%= manager_note.note %></p>
              </div>
            </div>
            <% if user_signed_in? %>
              <div class="panel-footer">      
                <div class="actions">
                  <%= link_to edit_manager_note_path(manager_note) do %>
                    <span class="glyphicon glyphicon-edit"></span>
                    Review and Send
                  <% end %>
                  <%= link_to manager_note, method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <span class="glyphicon glyphicon-trash"></span>
                    Delete
                  <% end %>
                </div>
              </div>
            <% end %>
        </div>
      </div>
    <% end %>
  </div>

  </div>
</div>

<div class="container-fluid">
  <% if user_signed_in? %>
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8">
        <%= link_to 'New Email', new_manager_note_path, class: "btn btn-primary btn-lg btn-block" %><br>
      </div>
    </div>
  <% end %>
</div>