<%= form_for(@hero_image) do |f| %>
  <% if @hero_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hero_image.errors.count, "error") %> prohibited this gallery_photo from being saved:</h2>

      <ul>
      <% @hero_image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="panel-body">
    <div class="form-group col-md-offset-1 col-md-10">
      <%= f.label :image, class: "sr-only" %>
      <%= f.file_field :image, class: "form-control" %>
    </div>
    <div class="actions">
      <div class="form-group col-md-10 col-md-offset-1">
        <%= f.submit "Upload Photo", class: "btn btn-primary btn-lg" %>
      </div>
    </div>
  </div>

<% end %>
