<h1>Listing hero_images</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hero_images.each do |hero_image| %>
      <tr>
        <td><%= hero_image.name %></td>
        <td><%= link_to 'Show', hero_image %></td>
        <td><%= link_to 'Edit', edit_hero_image_path(hero_image) %></td>
        <td><%= link_to 'Destroy', hero_image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hero image', new_hero_image_path %>
