<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @hero_image.name %>
  <%= link_to 'The Menu', @hero_image.image.url %>
</p>

<%= link_to 'Edit', edit_hero_image_path(@hero_image) %> |
<%= link_to 'Back', hero_images_path %>
