<div id="about-header-image">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-1 col-md-8 col-md-offset-2">
        <h1>About<br>Cool Beans<br><small>Denton's Finest<br>Dive Bar</small></h1>
      </div>
    </div>
  </div>
</div>

  <% @about_contents.each do |about_content| %>
    <% if about_content.name == 'About Page' %>
    <% if user_signed_in? %>
<div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8">
        <div class="button">
          <%= link_to 'Edit About Contents', edit_about_content_path(about_content), class: "btn btn-default btn-lg btn-block" %><br>
        </div>
      </div>
    </div>
  </div>
    <% end %>
<% end %>
<% end %>


<div class="container-fluid">
<div id="about-style">  
  <div class="row">
  <% @about_contents.each do |about_content| %>
    <% if about_content.name == 'About Page' %>
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8">
          <% if about_content.part_one.present? %>
            <p><%= about_content.part_one %></p>
          <% end %>
          <% if about_content.part_two.present? %>
            <p><%= about_content.part_two %></p>
          <% end %>
      </div>
    <% end %>
  <% end %>
  </div>
</div>
</div>

<div id="about-image-one">
  <div class="container-fluid">
  </div>
</div>

<div class="container-fluid">
<div id="about-style">  
  <div class="row">
  <% @about_contents.each do |about_content| %>
    <% if about_content.name == 'About Page' %>
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8">
          <% if about_content.part_three.present? %>
            <p><%= about_content.part_three %></p>
          <% end %>
          <% if about_content.part_four.present? %>
            <p><%= about_content.part_four %></p>
          <% end %>
      </div>

    
    <% end %>
  <% end %>
  </div>
</div>
</div>

<div id="about-image-two">
  <div class="container-fluid">
    <%= image_tag('outside-grey.png', :class=>'img-responsive', :id=>'about-image-beans', :alt=>'Outside Beans') %>
  </div>
</div>