<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @about_content.name %>
</p>

<p>
  <strong>Part one:</strong>
  <%= @about_content.part_one %>
</p>

<p>
  <strong>Part two:</strong>
  <%= @about_content.part_two %>
</p>

<p>
  <strong>Part three:</strong>
  <%= @about_content.part_three %>
</p>

<p>
  <strong>Part four:</strong>
  <%= @about_content.part_four %>
</p>

<p>
  <strong>Part five:</strong>
  <%= @about_content.part_five %>
</p>

<p>
  <strong>Part six:</strong>
  <%= @about_content.part_six %>
</p>

<%= link_to 'Edit', edit_about_content_path(@about_content) %> |
<%= link_to 'Back', about_contents_path %>
