<div class="container-fluid">
  <div id="photo-form">

  <%= form_for(@menu_photo) do |f| %>
    <% if @menu_photo.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@menu_photo.errors.count, "error") %> prohibited this menu_photo from being saved:</h2>

        <ul>
        <% @menu_photo.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  <div class="row">
    <div class="xs-12 col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>Menu Photo Form</h2>
      </div>

    <div class="panel-body">
      <div class="form-group">
        <p><%= f.label :name %></p>
        <p><%= f.select(:name, [['Our Burgers(1)', 'Burgers-One'], ['Our Burgers(2)', 'Burger-Two'], ['Our Chicken Sandwiches', 'Chicken-One'], ['Our Baskets and More', 'Baskets-One'], ['For the Vegetarian', 'Vegetarian-One'], ['The Munchies', 'Munchies-One'], ['Weekly Food Specials(1)', 'Food-Specials-One'], ['Weekly Food Specials(2)', 'Food-Specials-Two'], ['Happy Hour Food', 'Happy-Hour-Food-One'], ['Weekly Drink Specials', 'Weekly-Drink-Specials-One'], ['Pitcher Specials', 'Pitcher-Specials-One'], ['Happy Hour Drinks', 'Happy-Drinks-One'], ['7 to 11pm Drinks', 'Seven-Eleven-One'], ['9 to 11 Drinks', 'Nine-Eleven-One'], ['Dive Brunch', 'Brunch-One'], ['Dive Brunch Cocktails', 'Sunday-Cocktails-One'], ['Drafts', 'Drafts-One']], {prompt: "Please Select"}, {class: "input-lg"}) %></p>
      </div>
      <div class="form-group">
        <p><%= f.label :photo %></p>
        <%= f.file_field :photo, class: "btn btn-default btn-lg btn-block" %>
      </div>
      <div class="form-group">
        <%= f.submit "Upload Photo", class: "btn btn-primary btn-lg btn-block" %>
      </div>
    </div>
    <div class="panel-footer">
      <%= link_to 'Go to Dashboard', dashboard_path, class: "btn btn-default" %>
    </div>
    <% end %>
    </div>
    </div>
  </div>
</div>
</div>