<div class="container-fluid">
  <div id="weekend-form">
    <%= form_for(@weekend) do |f| %>
      <% if @weekend.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@weekend.errors.count, "error") %> prohibited this weekend from being saved:</h2>

          <ul>
          <% @weekend.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
    <% end %>
    <div class="row">
    <div class="xs-12 col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2>Weekend Form</h2>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <p><%= f.label :title %></p>
            <p><%= f.text_field :title, class: "input-lg" %></p>
          </div>
          <div class="form-group">
            <p><%= f.label :description %></p>
            <p><%= f.text_area :description, class: "input-lg" %></p>
          </div>
          <h4>First Weekend Special</h4>
          <div class="form-group">
            <p><%= f.label :first_special %></p>
            <p><%= f.text_field :first_special, class: "input-lg" %></p>
          </div>
          <div class="form-group">
            <p><%= f.label :first_special_description %></p>
            <p><%= f.text_area :first_special_description, class: "input-lg" %></p>
          </div>
          <div class="form-group">
            <p><%= f.label :image_one, 'First Special Image' %></p>
            <%= f.file_field :image_one, class: "btn btn-default btn-lg btn-block" %>
          </div>
          <h6>Pop-up Contents</h6>
          <div class="form-group">
            <p><%= f.label :first_modal, 'First Pop Up Heading' %></p>
            <p><%= f.text_field :first_modal, class: "input-lg" %></p>
          </div>
          <div class="form-group">
            <p><%= f.label :first_modal_description, 'First Pop Up Description' %></p>
            <p><%= f.text_area :first_modal_description, class: "input-lg" %></p>
          </div>
          <div class="form-group">
            <p><%= f.label :modal_image_one, 'First Pop Up Image' %></p>
            <%= f.file_field :modal_image_one, class: "btn btn-default btn-lg btn-block" %>
          </div>
          <h4>Second Weekend Special</h4>
          <div class="form-group">
            <p><%= f.label :second_special %></p>
            <p><%= f.text_field :second_special, class: "input-lg" %></p>
          </div>
          <div class="form-group">
            <p><%= f.label :second_special_description %></p>
            <p><%= f.text_area :second_special_description, class: "input-lg" %></p>
          </div>
          <div class="form-group">
            <p><%= f.label :image_two, 'Second Special Image' %></p>
            <%= f.file_field :image_two, class: "btn btn-default btn-lg btn-block" %>
          </div>
          <h6>Pop-up Contents</h6>
          <div class="form-group">
            <p><%= f.label :second_modal, 'Second Pop Up Heading' %></p>
            <p><%= f.text_field :second_modal, class: "input-lg" %></p>
          </div>
          <div class="form-group">
            <p><%= f.label :second_modal_description, 'Second Pop Up Description' %></p>
            <p><%= f.text_area :second_modal_description, class: "input-lg" %></p>
          </div>
          <div class="form-group">
            <p><%= f.label :modal_image_two, 'Second Pop Up Image' %></p>
            <%= f.file_field :modal_image_two, class: "btn btn-default btn-lg btn-block" %>
          </div>
          <div class="form-group">
            <%= f.submit "Save", class: "btn btn-primary btn-lg btn-block" %>
         </div>
        </div>
        <div class="panel-footer">
          <%= link_to 'Go to Manager', manager_path, class: "btn btn-default" %>
        </div>
        <% end %>
        </div>
      </div>  
    </div>
  </div>
</div>
