<nav class="navbar navbar-static-top navbar-default">
  <div class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
    </button>
      <%= link_to image_tag("logo.png", :alt=>'cool beans logo', :class=>'navbar-brand'), root_path %>
    <% if user_signed_in? %>
      <h6><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "navbar-text", id: "menu-link" %></h6>
    <% else %>
       <h6><%= link_to "Dive VIPs", '/#vip-container', class: "navbar-text", id: "menu-link" %></h6>
    <% end %>
    </div>


<!-- Mobile Collect the nav links, forms, and other content for toggling -->
  <div id="mobile-navigation">
    <div class="collapse navbar-collapse navbar-collapse">
      <ul class="active nav navbar-nav navbar-right">
        <% if current_page?(root_path) %>
          <li class="<%= active_class(root_path) %>" id="home_option"><%= link_to "Home", root_path, class: "nav_link" %></li>
        <% else %>
          <li class="<%= active_class(root_path) %>"><%= link_to "Home", root_path, class: "nav_link" %></li>
        <% end %>
        <li class="<%= active_class(about_path) %>"><%= link_to "About Us", about_path, class: "nav_link" %></li>
        <li class="<%= active_class(menu_path) %>"><%= link_to "Food Menu", menu_path, class: "nav_link" %></li>
        <li class="<%= active_class(specials_path) %>"><%= link_to "The Specials", specials_path, class: "nav_link" %></li>
        <li class="<%= active_class(brunch_path) %>"><%= link_to "Sunday Brunch", brunch_path, class: "nav_link" %></li>
        <li class="<%= active_class(drafts_path) %>"><%= link_to "Draft Beers", drafts_path, class: "nav_link" %></li>
        <li class="<%= active_class(gallery_path) %>"><%= link_to "Photo Gallery", gallery_path, class: "nav_link" %></li>
        <li class="<%= active_class(contact_path) %>"><%= link_to "Contact Us", contact_path, class: "nav_link" %></li>
        <% if user_signed_in? %>
         <li class="<%= active_class(dashboard_path) %>"><%= link_to "Dashboard", dashboard_path, class: "nav_link" %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>



<!-- Tablet/PC nav links, forms, and other content for toggling -->
  <div id="large-navigation">
    <div class="collapse navbar-collapse navbar-collapse">
    <ul class="active nav navbar-nav navbar-right">
      <% if current_page?(root_path) %>
        <li class="<%= active_class(root_path) %>" id="home_option"><%= link_to "Home", root_path, class: "nav_link" %></li>
      <% else %>
        <li class="<%= active_class(root_path) %>"><%= link_to "Home", root_path, class: "nav_link" %></li>
      <% end %>
      <li class="<%= active_class(about_path) %>"><%= link_to "About Us", about_path, class: "nav_link" %></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle nav_link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Our Menus<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li class="<%= active_class(menu_path) %>"><%= link_to "The Food Menu", menu_path, class: "nav_link" %></li>
          <li class="<%= active_class(specials_path) %>"><%= link_to "The Specials", specials_path, class: "nav_link" %></li>
          <li class="<%= active_class(brunch_path) %>"><%= link_to "Sunday Brunch", brunch_path, class: "nav_link" %></li>
          <li class="<%= active_class(drafts_path) %>"><%= link_to "Our Draft Beers", drafts_path, class: "nav_link" %></li>
        </ul>
      </li>
      <li class="<%= active_class(gallery_path) %>"><%= link_to "Gallery", gallery_path, class: "nav_link" %></li>
      <li><%= link_to "VIPs", '/#vip-container', class: "nav_link" %></li>
      <li class="<%= active_class(contact_path) %>"><%= link_to "Contact Us", contact_path, class: "nav_link" %></li>
      <% if user_signed_in? %>
       <li class="<%= active_class(dashboard_path) %>"><%= link_to "Dashboard", dashboard_path, class: "nav_link" %></li>
      <% end %>
    </ul>
    </div><!-- /.navbar-collapse -->
  </div>

</div>
</nav>
